page-question {
    .right {
  position: relative;
  background: lightgray;
  text-align: right;
  min-width: 90%;
  padding: 10px 15px;
  margin-top: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  float: right;
  right: 20px;
}

.right::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: -1px;
  right: -10px;
  border: 10px solid transparent;
  border-top: 10px solid #ccc;
}

.right::after {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -8px;
  border: 10px solid transparent;
  border-top: 10px solid lightgray;
  clear: both;
}

.left {
  position: relative;
  background: white;
  text-align: left;
  min-width: 90%;
  padding: 10px 15px;
  border-radius: 6px;
  
  float: left;
  left: 20px;
}

.left::before {
  content: '';
  position: absolute;
  visibility: visible;
  top: -1px;
  right: -10px;
  
  
}

.left::after {
  content: '';
  position: absolute;
  visibility: visible;
  top: 0px;
  right: -8px;
  border: 10px solid transparent;
  border-top: 10px solid white;
  clear: both;
}

}
