<!--
  Generated template for the HistoryDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='navbarColor'>
    <ion-title>{{history.cancion}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div class="d1" padding-left>
		<p class="title-3">{{history.cancion}}</p>
		<p>{{history.artista}}</p>
	</div>

	<button ion-button class='default-button' block>Hacer un comentario</button>

	<p>Obra: </p>
	<p>Autores: </p>
	<p>Interprete: </p>
	<p>Cliente: {{history.cliente}} </p>
	<p>Campaña: {{history.campania}}</p>
	<p>Medios:
			<ion-list no-lines>
				<ion-item *ngFor="let med of history.medio">
					{{med}}
				</ion-item>
			</ion-list>
		 </p>
	<p>Cantidad de comerciales/spots: {{history.cantidad}}</p>
	<p>Duración de licencia:
		<ion-list no-lines>
			<ion-item *ngFor="let lic of history.licencia">
				{{lic}}
			</ion-item>
		</ion-list>
	</p>
	<p>Territorio:
		<ion-list no-lines>
			<ion-item *ngFor="let te of history.territorios">
				{{te}}
			</ion-item>
		</ion-list>
	</p>

	<p><strong>ESTIMADO DERECHOS EDITORIALES, FONOGRÁFICOS Y GESTIÓN</strong></p>

	<p class="text-rojo">
		<span class="title-2">US$ xxx</span><br>
		<small class="text-rojo">MAS IVA (INCLUYE MASTER ORIGINAL)</small>
	</p>

	<ion-grid> 
		<ion-row>
		    <ion-col>
		    	<button ion-button block (click)="openShare()">Compartir</button>
		    </ion-col>
		    <ion-col>
		    	<button ion-button block (click)="openOutBudget()">Fuera de mi ppto</button>
		    </ion-col>
		</ion-row>
	</ion-grid>

	
	
</ion-content>
