<!--
  Generated template for the HistoryDetail page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color='navbarColor'>
    <ion-title>{{ 'COMENTARIOS' | translate }} - {{cotizacion?.cancion}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<div class="d1" padding-left>
		<p class="title-3">{{cotizacion?.cancion}}</p>
		<p>{{cotizacion?.artista}}</p>
	</div>

	<button ion-button class='default-button' block (click)="openModal()">{{ 'LEAVE_A_COMMENT' | translate }}</button>
	<br>
  <div *ngFor="let comentario of comentarios" >
    <div class="left" *ngIf="comentario.respuesta">    
        <span>{{comentario.respuesta}}</span>     
    </div>    
    <div class="right" *ngIf="comentario.respuesta">    
        <span>{{comentario.comentario}}</span>     
    </div>
  </div>

</ion-content>
