page-intro {


    .scroll-content{
        padding-top:40px !important;
    }
    
    ion-slide {
      background-color: #fff;
    }
 	
 	/*
    ion-slide img {
      height: 70vh !important;
      width: auto !important;
    }
	*/
    .mj-logo{
    	max-height: 20vh !important;
    	/*margin-top: 200px;*/
    	margin-top: 4vh;
    	margin-bottom: 5vh;
    	z-index: 100;
    	position: relative;    }

    .mj-fondo{
    	max-height: 50vh !important;
    	
    	width: auto !important;
    	/*margin-top: 200px;*/
    }
    .mj-fondo{
    	max-height: 50vh !important;	
    	width: auto !important;
    	/*margin-top: 200px;*/
    }

    .mj-fondo2{
	    width: 100% !important;
	    top: -19vh;
	    position: relative;
	    z-index: 1;
    }

    .mj-fondo3{
	    width: 100% !important;
	    top: 0vh;
    	position: absolute;
	    z-index: 1;
	    right: 0px;
    }

    .omitir{
    	position: relative;
    	z-index: 120;
    	font-size: 1.4rem;
    }

    .slide-zoom{
    	height: 100vh;
        font-size: 1.6rem
    }

    .text-slide-2{
        top: -47vh;
        position: relative;
        z-index: 300;
    }

    .text-slide-3{
    	top: 63vh;
    	position: relative;
    	z-index: 220
    }
}
