<!--
  Generated template for the Song page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>

  <ion-navbar color='navbarColor'>
    
  </ion-navbar>

</ion-header>
-->

<ion-content no-padding>

  <ion-card class="card-no-padding">
      
	<ion-fab top left  edge>
		<button ion-fab mini (click)="goBack()">
			<ion-icon name="arrow-back"></ion-icon>
		</button>
	</ion-fab>

      <div class="container-image">
      	<img [src]="song?.album.images[0].url" />
      </div>

      <div text-right class="container-1">
	      <ion-card-content>
	          <button ion-button small item-left icon-right 	>{{ 'COMPARTIR' | translate }} <ion-icon name="md-share"></ion-icon></button>
	      </ion-card-content>
      </div>

      <div padding class="container-2">

	      <h1 class="titulo-cancion">{{song?.name}}</h1>

			<rating [(ngModel)]="song" readOnly="true" val="3" max="5" emptyStarIconName="star-outline" halfStarIconName="star-half" starIconName="star" nullable="false">4</rating>

	      <p class="text-info">
	      	{{ 'ARTISTA' | translate }}: {{song?.artists[0].name}} <br>
	      	{{ 'ALBUM' | translate }}: {{song?.album.name}} <br>
	      	{{ 'ANO' | translate }}: {{song?.release_date}} <br>
	      	{{ 'GENERO' | translate }}: {{song?.genres}} <br>
	      	{{song?.external_ids.isrc}}
	      </p>

	      <hr *ngIf="song?.lyric">

	      <h2 *ngIf="song?.lyric">{{ 'LETRA' | translate }}</h2>
		  <p class="text-info">{{song?.lyric | truncate:20}}</p>
	      <hr class="linea">
	      <button *ngIf="song?.itunes"  ion-button block item-left icon-right  class='default-button'>{{ 'ESCUCHAR_EN_ITUNES' | translate }} <ion-icon name="itunes-icon"></ion-icon></button>
	      <button *ngIf="song?.id" ion-button block item-left icon-right (click)="openSpotify()"  class='default-button'>{{ 'ESCUCHAR_EN_SPOTIFY' | translate }} <ion-icon name="md-share"></ion-icon></button>
	      <button *ngIf="song?.deezer" ion-button block item-left icon-right (click)="openDeezer()"  class='default-button'>{{ 'ESCUCHAR_EN_DEEZER' | translate }} <ion-icon name="md-share"></ion-icon></button>

	      <hr *ngIf="song?.youtube">

	      <h1 *ngIf="song?.youtube">{{ 'VIDEOS_EN_YOUTUBE' | translate }}</h1>

		  <div *ngIf="song?.youtube" class="video-container">
			  <iframe [src]="song?.youtube" frameborder="0" allowfullscreen></iframe>
		  </div>
	      <hr>

	      <button ion-button block item-left icon-right  class='default-button'>{{ 'HACER_UNA_PREGUNTA' | translate }} <ion-icon name="itunes-icon"></ion-icon></button>

	      <button ion-button block item-left icon-right outline class='default-button'>{{ 'LLAMENME' | translate }} <ion-icon name="itunes-icon"></ion-icon></button>

	        <p class='text-grey text-4' text-center>
		    {{ 'TXT_CONTACT_1' | translate }}<br>
		    {{ 'TXT_CONTACT_2' | translate }}<br>
		    (UTC -03:30)
		  </p>

		  <hr>

		  <h2>Boradcasting</h2>

			<ion-grid no-padding> 
				<ion-row>
				    <ion-col class="padding-right">
				    	<button ion-button block class='default-button' >{{ 'COTIZALO_VOS_MISMO' | translate }} </button>
				    </ion-col>
				    <ion-col  class="padding-left">
				    	<button ion-button block class='default-button button-grey'> {{ 'COTIZAR_GRATIS' | translate }} </button>
				    </ion-col>
				</ion-row>
				<ion-row>
					<ion-col>
						<button ion-button block class='default-button'>{{ 'PEDIR_COTIZACION' | translate }} </button>
					</ion-col>
				</ion-row>
			</ion-grid>
		  
		  

		</div>

  </ion-card>

</ion-content>
